<div id="app-content" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center center">

  <mat-card id="about-me-card">
    <div fxLayout="row" fxLayout.lt-md="column">
      <div id="card-image" fxLayout="column" fxLayoutAlign="center center">
        <img style="width:300px" src="assets/img/portfolio.png">
        <div fxLayout="row" fxLayoutAlign="space-around center">
          <button mat-icon-button class="clickable" (click)="openGitHub()">
              <mat-icon>favorite</mat-icon>
            </button>
            <button mat-icon-button color="primary" aria-label="Example icon-button with a heart icon">
              <mat-icon>favorite</mat-icon>
            </button>
        </div>
        
      </div>
      <div id="card-text">
        <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
      </div>
    </div>
  </mat-card>

</div>